/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "normalize";
@import "cards";
/*===============================
=            General            =
===============================*/
/**
*
* Colors
*
**/
/* colors info
blue - #0065CF; rgb 0 101 207
yellow - #D0DF00; rgb 208 223 0
light green - #17BF51; rgb 23 191 81
medium green - #276E3F; rgb 39 110 63
dark green - #274231; rgb 39 66 49
*/

$blue: #0065CF;
$yellow: #D0DF00;
$light-green: #17BF51;
$medium-green: #276E3F;
$dark-green: #274231;
$boring-white: #faebd7;
// end colors
body {
  background-color: $dark-green;
  color: $boring-white;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 960px;
  border: 1px solid blue;
  // .controls {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   padding: 20px;
  // }
}

.content {
  margin: 0 auto;
  width: 50%;
}

.slogan {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
}

h1 {
  padding: 10px;
  margin: 0;
  font-size: 5em;
}

h1,
h2,
p {
  font-family: 'Exo', sans-serif;
}

h2 {
  color: $yellow;
  font-size: 2em;
  padding: 10px;
}

p {
  padding: 10px;
}
/* controls */
/* links */

.btn-success {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2aa843;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-success:hover {
  background: #32d123;
  text-decoration: none;
}

.btn-danger {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #e36d6d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-danger:hover {
  background: #e81212;
  text-decoration: none;
}
/*-----  End of General  ------*/
